{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
